 p{
    font-family: arial;
    margin-bottom: 0;
 }

 .video-title{
    width: 300px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
 }

 .video-stats{
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
 }

 .video-author{
    margin-top: 26px;
    font-family: 14px;
 }

 .video-content{
    width: 300px;
    font-size: 14px;
    margin-top: 24px;
 }

 .apple-text{
    background-color: rgb(209, 31, 31);
    margin-top: 100px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
 }

 .shop{
    cursor: pointer;
 }

 .shop:hover{
    text-decoration: underline;
 }